<section class="flex flex-row w-[100vw] h-[100vh] items-center justify-center">
    <article>
        <p>¡Hola! Soy Isaac, programador de profesión y apasionado del mundo de las motos por vocación. Hace un tiempo, sentí la necesidad de escapar de la rutina diaria, de desconectar del estrés y alejarme un poco de las pantallas que dominaban mi día a día, especialmente los videojuegos.</p>
        <p>Así fue como llegó la moto a mi vida. Lo que empezó siendo una simple vía de escape se convirtió en una verdadera pasión. Sin embargo, tras obtener mi carnet de moto, me di cuenta rápidamente de que saber conducir no es suficiente. Como muchos, experimenté inseguridades, miedos y preocupaciones al enfrentarme a mis primeras rutas, especialmente al tomar curvas en carretera.</p>
        <p>Es por eso que decidí crear mi canal de YouTube, con el objetivo de compartir todo lo que he aprendido sobre cómo trazar curvas correctamente en moto y, sobre todo, ayudar a otros moteros como tú y como yo a vencer esos miedos iniciales y a disfrutar plenamente de cada salida.</p>
        <p>Mi propósito es claro: que juntos ganemos confianza, dominemos la conducción segura y, sobre todo, disfrutemos al máximo de la libertad que nos ofrecen nuestras motos. ¿Te unes a este viaje conmigo?</p>
    </article>
    <article>
        <div></div>
    </article>
</section>