<section>
    <article>
        <h3>Técnicas y trucos para trazar mejor</h3>
        <p>En esta sección encontrarás contenido práctico, claro y directo que te ayudará a mejorar tus habilidades en la carretera. A través de vídeos y guías sencillas aprenderás técnicas efectivas para trazar curvas con seguridad, precisión y confianza. Mi objetivo es proporcionarte herramientas prácticas que puedas aplicar desde el primer día, ayudándote a superar dificultades comunes y hacer de cada ruta una experiencia segura y emocionante.</p>
        <p>¡Descubre los secretos para dominar cada curva y disfrutar plenamente de tus salidas en moto!</p>
    </article>
    <section>
        <article>los articulos</article>
    </section>
</section>