<header id="hero" class="flex flex-col gap-4 justify-center items-center h-full w-full bg-amber-300">
	<h1 class="text-2xl text-center md:text-4xl text-amber-50">
		Aprende a trazar curvas en moto como un profesional
	</h1>
	<h2 class="text-xs md:text-xl w-[50%] text-center text-amber-50">
		Técnicas y trucos que te ayudarán a ganar control y confianza en las curvas
	</h2>
	<button class="bg-amber-300 px-4 py-2 border-3 rounded-[5px] border-amber-50 text-amber-50">
		<a href="https://www.youtube.com/channel/UCWP-r9W-PtqVtv5z2tZxq2A?sub_confirmation=1">
			Ver más vídeos sobre técnicas en moto
		</a>
	</button>
</header>